<%- include('partials/header') %>
  <body>
    <nav>
        <a class="addBlog" href="/blog/new"> Add a Blog</a>
      </nav>
      <ul>
      <% for(let i = 0; i < blog.length; i++){ %>
      <li>
        <a href="/blog/<%=blog[i].id; %>">
          <%=blog[i].title%>
          <img class="imgArticles" src="<%=blog[i].img%>" />
        </a>
        <%=blog[i].date%>
      </li>
      <% } %>
    </ul>
    
  </body>
</html>
<%- include('partials/footer') %>