<%- include('partials/header') %>
  <body class="showBody">
    <nav class="back">
      <p id="addStory">SHARE YOUR CHAPTER</p>
        <a class="addBlog" id="addBlogBtn" href="/blog/new"> Add a Blog</a>
      </nav>
      <ul class="list">
      <% for(let i = 0; i < blog.length; i++){ %>
      <li class="articleBoxes">
        <div id="date"><%=blog[i].date%></div>
        <a href="/blog/<%=blog[i].id; %>">
          <img class="imgArticles" src="<%=blog[i].img%>" />
          <div class="articleTitle"><%=blog[i].title%></div>
          
          <div class="addBlog" id="readMore">READ MORE</div>
        </a>
        <div id="preview"><%=blog[i].preview%></div>
        <img id="stamp" src="https://images.rawpixel.com/image_png_450/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjc1OC0wOC5wbmc.png">
      </li>
      <% } %>
    </ul>
    
  </body>
</html>
<%- include('partials/footer') %>